<div class='container' id="music-app">

	<h1>Music App</h1>

	<div class='row'>
		<!-- <table class="u-full-width" id="schedule-table">

			<% @details.each do |obj| %>
				<tr>
					<td>
						<%= obj[:status] %>
					</td>
					<td>
						<%= obj[:artist] %>
					</td>
					<td>
						<%= obj[:date] %>
					</td>
					<td>
						<%= obj[:time] %>
					</td>
					<td>
						<%= obj[:venue] %>
					</td>
					<td>
						<%= obj[:price] %>
					</td>

				</tr>
			<% end %>
		</table> -->
	</div>

	<% @details.each do |obj| %>
		<% 
			if obj[:status] == "SOLD OUT" 
				rowStatus = 'soldout'
				price = 'SOLD OUT'
			else 
				rowStatus = ''
				price = obj[:price]
			end
		%>
		<div class='row event <%= rowStatus %> '>

			<div class="four columns artist">
				<%= obj[:artist] %>
			</div>
			<div class="two columns date">
				<%= obj[:date] %>
			</div>
			<div class="two columns time">
				<%= obj[:time] %>
			</div>
			<div class="two columns venue">
				<%= obj[:venue] %>
			</div>

			<div class="two columns price">
				<%= price %>
			</div>
		</div>
	<% end %>

</div>