<!DOCTYPE html>
<html>
<head>
	<title>RoR</title>

	<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'materialdesignicons', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<script src="//connect.soundcloud.com/sdk.js"></script>
	

	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'artist_panel', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'helper', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
